body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

#root {
  width: 100%;
  max-width: 100vh;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

.grid {
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
  background: rgba(0,0,0,0.3);
}

.row {
  display: flex;
}

.cell {
  flex: 1;
  width:100px;
  background: white;
  position: relative;
}

.cell:after {
  content: '';
  display: block;
  width: 100%;
  padding-bottom: 100%;
}

.cell.active {
  background: #FF4136;
}

.divided .row {
  margin-bottom: 1px;
}
.divided .cell {
  margin-right: 1px;
}

.divided .row:last-child,
.divided .cell:last-child {
  margin: 0;
}